In [2]:
import pandas as pd
import numpy as np

In [3]:
glasses = pd.read_csv('/Users/emilkoch/Desktop/2Tango/Data Files/Dataset_2_glasses/glasses.csv')

In [4]:
glasses['accel_x'] = glasses['ACC_X']
glasses['accel_y'] = glasses['ACC_Y']
glasses['accel_z'] = glasses['ACC_Z']
glasses['gyro_x'] = glasses['GYRO_X']
glasses['gyro_y'] = glasses['GYRO_Y']
glasses['gyro_z'] = glasses['GYRO_Z']

In [5]:
glasses = glasses.drop(columns= ['NUM', 'EOG_L', 'EOG_R', 'EOG_H', 'EOG_V', 'ACC_Z', 'ACC_X', 'ACC_Y', 'GYRO_X', 'GYRO_Y', 'GYRO_Z'])

In [6]:
glasses

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z
0,2017/06/29 08:00:00.406,-3242,10396,-6489,9117,2018,-819
1,2017/06/29 08:00:00.426,-4014,11348,-15131,3359,-882,-2009
2,2017/06/29 08:00:00.446,-3223,10918,-8496,-460,211,-2631
3,2017/06/29 08:00:00.466,-5255,10690,-10854,1152,333,-3799
4,2017/06/29 08:00:00.486,-560,14164,-8619,-327,488,-2833
...,...,...,...,...,...,...,...
3975261,2017/07/13 22:20:30.894,-5345,9790,-12500,336,638,-365
3975262,2017/07/13 22:20:30.914,-5280,9682,-12471,581,812,-271
3975263,2017/07/13 22:20:30.934,-5170,9579,-12492,828,963,-214
3975264,2017/07/13 22:20:30.944,-5082,9531,-12473,881,1062,-189
3975265,2017/07/13 22:20:30.964,-4968,9414,-12622,1052,1176,-154

In [7]:
glasses

,timestamp,accel_x,accel_y,accel_z,gyro_x,gyro_y,gyro_z
0,2017/06/29 08:00:00.406,-3242,10396,-6489,9117,2018,-819
1,2017/06/29 08:00:00.426,-4014,11348,-15131,3359,-882,-2009
2,2017/06/29 08:00:00.446,-3223,10918,-8496,-460,211,-2631
3,2017/06/29 08:00:00.466,-5255,10690,-10854,1152,333,-3799
4,2017/06/29 08:00:00.486,-560,14164,-8619,-327,488,-2833
...,...,...,...,...,...,...,...
3975261,2017/07/13 22:20:30.894,-5345,9790,-12500,336,638,-365
3975262,2017/07/13 22:20:30.914,-5280,9682,-12471,581,812,-271
3975263,2017/07/13 22:20:30.934,-5170,9579,-12492,828,963,-214
3975264,2017/07/13 22:20:30.944,-5082,9531,-12473,881,1062,-189
3975265,2017/07/13 22:20:30.964,-4968,9414,-12622,1052,1176,-154

In [13]:
from tensorflow.keras.models import load_model
from sklearn.preprocessing import StandardScaler
import joblib

# Specify the path to your joblib file
file_path = '/Users/emilkoch/Desktop/2Tango/messenger/Research/Job_Library/label_encoder_motion.pkl'

# Load the joblib file
label_encoder_motion = joblib.load(file_path)

# Load the previously saved model
model = load_model('/Users/emilkoch/Desktop/2Tango/messenger/Research/Model_Save/motion.keras')

# Prepare the features from the unlabeled data
X_unlabeled = glasses[['accel_x', 'accel_y', 'accel_z', 'gyro_x', 'gyro_y', 'gyro_z']]

# Standardize the features using the same scaler used during training
scaler = StandardScaler()
X_unlabeled_scaled = scaler.fit_transform(X_unlabeled)

# Make predictions
y_pred = model.predict(X_unlabeled_scaled)

# Inverse transform the predicted labels
decoded_labels = label_encoder_motion.inverse_transform(np.argmax(y_pred, axis=1))

# Add the decoded labels to the DataFrame
glasses['predicted_activity'] = decoded_labels

124228/124228 [==============================] - 218s 2ms/step

I will add random labels encoded by the label_encoder_motion as a new column "true_activity" to test the principle of retraining by feedback loop.